<section class="movie-row-shell">
  <h2 class="movie-row-shell__title">Título</h2>
  <div (click)="handleLeftArrowClick()" class="movie-row-shell__left">◀</div>
  <div (click)="handleRightArrowClick()" class="movie-row-shell__right">▶</div>
  <div class="movie-row-shell__listarea">
    <div
      [ngStyle]="{
        'margin-left': scrollX + 'px',
        width: 150 * items.length + 'px'
      }"
      class="movie-row-shell__list"
      style="margin-left: 0px">
      <div class="movie-row-shell__item" *ngFor="let item of items">
        <img
          src="https://image.tmdb.org/t/p/w300/84dzLDiFiACIqKtqQwzmB6GL7uC.jpg"
          alt="Alt da imagem {{ item }}" />
      </div>
    </div>
  </div>
</section>
