.movie-row-shell {
  margin-bottom: 30px;

  &__title {
    margin-left: 40px;
  }

  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }

  &__left,
  &__right {
    position: absolute;
    z-index: 99;
    display: flex;
    overflow: hidden;
    width: 40px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 60%);
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  &__listarea {
    padding: 0 0 16px 40px;
    overflow-x: hidden;
  }

  &__list {
    display: flex;
    transition: all ease 0.5s;
  }

  @media (max-width: 760px) {
    &__left,
    &__right {
      opacity: 1;
    }
  }
}
