@import "src/scss/utils";

%shadow-default-position {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

:host {
  display: block;
  padding-top: 72px;
}

.featured-shell {
  height: calc(100vh - 72px);

  background-position: center center;
  background-size: cover;

  &__vertical-shadow {
    @extend %shadow-default-position;
    background: linear-gradient(to top, #111 10%, transparent 90%);
  }

  &__horizontal-shadow {
    @extend %shadow-default-position;
    background: linear-gradient(to right, #111 30%, transparent 70%);
  }
}
