@import "src/scss/utils";

.featured-content {
  position: absolute;
  top: 0;

  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  padding: 72px 0 152px 32px;
  gap: 16px;

  &__title {
    font-size: px-to-rem(64);
  }

  &__info {
    font-size: px-to-rem(18);
    font-weight: bold;

    .imdb-rating {
      color: #46d369;
    }
  }

  &__overview {
    max-width: 40%;
    font-size: px-to-rem(20);
  }

  &__actions {
    display: flex;
    gap: 16px;
  }

  &__genres {
    color: #999;
    font-size: px-to-rem(18);
  }

  @media (max-width: 760px) {
    padding: 72px 32px 152px;

    &__title {
      /* stylelint-disable */
      display: -webkit-box;
      overflow: hidden;
      font-size: px-to-rem(40);
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      /* stylelint-enable */
    }

    &__info,
    &__overview,
    &__genres {
      font-size: px-to-rem(16);
    }

    &__overview {
      /* stylelint-disable */
      display: -webkit-box;
      overflow: hidden;
      max-width: 100%;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      /* stylelint-enable */
    }
  }
}
